.prelogin-nav-extended {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: #d08123;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
}
.prelogin-nav-item {
  color: #d08123;
}
.prelogin-nav-item:hover {
  transform: scale(1.07);
}
@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .prelogin-nav-item {
    background-image: linear-gradient(to bottom, #fccb69 4%, #d17a0f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.prelogin-nav-extended a {
  padding: 0 3vw;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .landingpage-nav {
    justify-content: space-around;
  }
  .enigma-nav-logo {
    width: 90%;
  }
}

/* Small devices (tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
