.powerup-icon-font {
  color: #d08123;
}
@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .powerup-icon-font {
    background-image: linear-gradient(to bottom, #fccb69 4%, #d17a0f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
