.countdown-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.countdown-timer-head,
.countdown-page-days-text {
  color: #d08123;
}
@supports (background-clip: text) and (--webkit-text-fill-color: transparent) {
  .countdown-timer-head,
  .countdown-page-days-text {
    background-image: linear-gradient(to bottom, #fccb69 4%, #d17a0f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.countdown-time-container {
  margin-right: 30px;
}

.brazer-container-left,
.brazer-container-right {
  width: 25vw;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.brazer-container-right {
  right: 47px;
}
.brazer-container-left {
  left: 47px;
}

.brazier-right,
.brazier-left {
  width: 10vw;
}

@media screen and (max-width: 768px) {
  .countdown-time-container {
    margin-right: 8px;
  }
  .countdown-page-container {
    margin-left: 8px;
  }
}

@media (max-width: 959.95px) {
  .brazer {
    display: none;
  }
}
