.postlogin-nav {
  display: flex;
  flex-direction: row;
  align-items: self-end;
}
.postlogin-nav-item-text {
  color: #d08123;
  letter-spacing: 0.3px;
  font-size: 18px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
}
@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .postlogin-nav-item-text {
    background-image: linear-gradient(to bottom, #fccb69 4%, #d17a0f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.postlogin-nav-item {
  padding: 0 2vw;
}
