.ham-menu {
  background-image: linear-gradient(
    to bottom,
    #ffd37c 0%,
    #d08123 100%
  ) !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
}
.MuiMenu-list {
  display: flex !important;
  flex-direction: column !important;

  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
}
