nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  padding: 10px 20px;
  list-style-type: none;
}
li {
  padding: 0px 20px;
}
a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
