.ham-menu {
  z-index: 20;
}
.story-menu .MuiList-root {
  display: flex !important;
  flex-direction: column !important;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  background-color: black !important;
  padding: 1% 3%;
}
