.rooms-container {
  display: flex;
  flex-direction: row;
  flex-basis: 164px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 12px 120px;
  background: url("../../assets/rooms/pillar.svg") no-repeat;
  background-position: bottom;
  background-size: contain;
}

.rooms-container-lower {
  margin-top: 28px;
}
.rooms-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3vh 4% 0 4%;
}

.room-status-text {
  color: #0fa3b1;
  font-size: 1.3rem;
  padding-right: 1vw;
}
/* @supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .room-status-text {
    background-image: linear-gradient(to bottom, #77c5c4 100%, #017dcc 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
} */

.pillar {
  position: absolute;
}

.pillar-top {
  top: 28.5%;
}

.pillar-left {
  left: 0;
}

.pillar-right {
  right: 0;
}
.pillar-bottom {
  top: 81.5%;
}
.rooms-feedback-img {
  position: fixed;
  right: 0;
  top: calc(1 * (60vh));
}
.rooms-feedback-img:hover {
  transform: scale(1.05);
}
