.rooms-container {
  display: flex;
  flex-direction: row;
  flex-basis: 164px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 18px;
}
.onboarding-pointer-stars {
  /* margin: 0 80vw 0 10vw;
  text-align: right; */
  /* width: min-content; */
}
