.MuiMenu-list {
  display: flex !important;
  flex-direction: column !important;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
}
.profile-menu .MuiButton-root {
  padding: 0 28px !important;
  text-transform: none !important;
  letter-spacing: 0.6px !important;
}

.navbar-profile-menu {
  cursor: url(../../../assets/PointerCursor.svg), auto !important;
}
