.room-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2vh 2vw;
}

.room-question-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-card {
  align-items: center;
}

.question-image {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  padding: 1vw;
}

.question-image1 {
  margin-bottom: 20.9px;
}
